*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  text-align: center;
  background-color: black;
  width: 500px;

  #clock {
    display: inline-block;
    color: white;
    font-size: 50px;
    }
}
