

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.boxes {
  display: inline-block;
  padding: 170px;
  width: 600px;
  height: 400px;
  color: white;
  font-size: 50px;
  border-radius: 5px;
  font-weight: bold;
}

#clock {
  background-color: grey;
}

#hex {
  margin-top: 20px;
}
