* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.boxes {
  display: inline-block;
  padding: 120px;
  width: 600px;
  height: 300px;
  color: white;
  font-size: 50px;
  border-radius: 50px; }

#clock {
  background-color: grey; }

#hex {
  margin-top: 20px; }
