* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

#clock {
  background-color: grey;
  display: inline-block;
  width: 600px;
  height: 400px;
  color: white;
  font-size: 50px; }

#hex {
  width: 600px;
  height: 400px;
  display: inline-block;
  color: white;
  font-size: 50px; }
